{% extends "bootstrap_layout.html" %}

{% block content %}

    <h1>Welcome Home</h1>

    <p>Our web application helps travelers going on a vacation by providing an itinerary of 
        restaurants to go to for each meal during a future trip, so that they have an easy 
        way to plan a trip without having to search individually for each meal. Navigate to 
        the Yelp Form to get started! 
    
    </p>

    <p>Have a wonderful vacation and enjoy your meals!</p>
    
    <img src="https://cdn.pixabay.com/photo/2017/01/26/02/06/platter-2009590_1280.jpg"
        width="700"
        height="450"    
    />


{% endblock %}